@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.principal {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F9F5E8;
    padding: 0.5em;
    text-align: left;
    color: rgb(136, 71, 46);
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.pie {
    background-color: #F9F5E8;
    padding: 0.5em;
    text-align: left;
    color: rgb(136, 71, 46);
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.seccion {
    display: grid;
    grid-template-rows: auto auto auto auto; 
    width: 100%;
    height: 100%;
    background-color: #F9F5E8;
    background-image: url("../img/imagenfondopineta.jpg");
    background-size: cover;
    background-position: top center; 
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    padding: 0;
    margin: 0;
    gap: 0;
}

.seccion > article {
    background-color: rgba(0, 0, 0, 0);
    padding: 1rem;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    font-family: 'Alegreya', serif;
    color:  rgb(134, 125, 113);
}

h2 {
    margin-left: 3em;
}

.parrafos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    width: 100%;
}

.parrafos p {
    flex: 1;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3em;
    line-height: 1.6;
}

.parrafos img {
    width: 30vw;
    height: 40vh;
    box-shadow: 10px 5px 5px rgb(136, 71, 46);
}

#carreranocturna {
    filter: invert(100%);
    border-radius: 60%;
}
.imageneventos {
    border-radius: 60%;
}

@keyframes girarybote {
    0% {
        transform: rotate(0) translateY(10px);
    }
    50% {
        transform: rotate(360deg);
    }
    75% {transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes hacersegrande {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    } 
}

.duracion {
    display: inline-block;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

.articulo:hover .duracion {
    opacity: 1;
    transform: scale(1);
    animation: girarybote 2s ease forwards;
}

.dificultad {
    display: inline-block;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease; 
}

.articulo:hover .dificultad {
    opacity: 1;
    transform: 1;
    animation: hacersegrande 2s ease forwards;
    animation-delay: 2s;
} 

#leyenda {
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    gap: 3em;

}

#fondo {
    display: grid;
    grid-template-rows: auto auto; 
    width: 100vw;
    height: 100vh;
}

.division {
    display: grid;
    grid-template-rows: auto auto;
    background-color: #f1f1f1;
}

.alojamientoygastronomia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 100%;
    height: 100%;
    background-color: #F9F5E8;
    background-image: url("../img/imagenfondopineta.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding: 0;
    margin: 0;
    gap: 0;
}

.alojamientoygastronomia > article {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    padding: 1em;
    box-shadow: inset 3px 0 5px rgba(136, 71, 46, 0.5);
    font-family: 'Alegreya', serif;
    color:  rgb(134, 125, 113);
}

.alojamientoygastronomia article h2 {
    margin: 0;
    font-size: 1.2rem;
}

.alojamientoygastronomia article p {
    margin: 0 0 1em 0;
    line-height: 1.6;
    font-size: 1rem;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    gap: 0;
    padding: 0;
    height: 100%;
}
