<!-- views/user.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h1>Error</h1>
    {{#withError}}
    {{error}}
    {{/withError}} 
    {{#withErrors}}    
    <ul>
      {{#errors}}
      <li>Param "{{param}}" in "{{location}}": {{msg}}</li>
      {{/errors}}
    </ul>
    {{/withErrors}}
    <br>
    <br>
    <form method="get" action="{{originalUrl}}">
      <input type="submit" value="Back" />
    </form>
  </body>
</html>
