<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Usuarios</title>
</head>
<body>
  <h1>Listado de Usuarios</h1>

  <table style="border: 1px solid black;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Tipo</th>
        <th>Activo</th>
      </tr>
    </thead>
    <tbody>
      {{#users}}
      <tr>
        <td>{{id}}</td>
        <td>{{email}}</td>
        <td>{{type}}</td>
        <td>{{active}}</td>
      </tr>
      {{/users}}
    </tbody>
  </table>

  <br>
  <form action="/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
  </form>
</body>
</html>